<head>
    <!-- (공통) Top Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand" href="/"><img src="./img/logo.png" width="230px"></a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="login">login</a></li>
                    <li class="nav-item"><a class="nav-link" href="subscribe">subscribe</a></li>
                    <li class="nav-item"><a class="nav-link" href="product_list">product</a></li>
                    <li class="nav-item"><a class="nav-link" href="mypage">Mypage</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="backtohead"></div>

    <!-- (공통) Side Navigation -->
    <nav>
        <div class="d-flex" id="wrapper">
            <div class="border-end bg-white" id="sidebar-wrapper">
                <div class="sidebar-heading border-bottom bg-light">My Page :: Menu</div>
                <div class="list-group list-group-flush">
                    <a class="list-group-item list-group-item-action list-group-item-light p-3 "
                        href="mypage">내 정보</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3"
                        href="myorder">상품 주문 내역</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3"
                        href="mysubs">구독 내역</a>
                </div>
            </div>
            <!-- Header-->
            <!-- <header class="bg-dark py-5"> -->
            <!-- 여기에 여백 채우기 용으로 하나 넣어도 될듯? -->
            <!-- </header> -->
</head>